.all-cards button {
    width: 160px;
    text-align: center;
    height: 40px;
    
    border-radius: 30px;
    background-color: black;
    color: white;

}
.cards-column img{
  min-width: 100%;
  height: 500px;
}
.all-cards {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}
.overlay h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 55px;
    color: orange;
}
.card{
    margin-bottom: 2%;
    background-color: aliceblue;
    box-shadow: 2px 2px 3px 6px rgb(238, 165, 30);
  }
  #date{
    float: right;
    font-size: 14px;
  }
  .quotes-list{
    padding-top: 40px;
  }
  .quotes-list h3{
    color: orange; 
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
  }
  #datecolor{
    color: orange;
    font-style: italic;
    font-weight: 700;
  }
  #name{
    color: orange;
  }