
<h6 class="card-subtitle mb-2 text-muted"> - {{quoted.author}} <span id="when">Posted: {{quoted.datePosted|dateCount}} days ago.</span> </h6>
<div class="container-fluid" id="buttons">
  <button class="btn btn-sm btn-success" (click)='upvote()'>{{quoted.likes}} <i class="far fa-thumbs-up"  ></i> </button> 
  <button class="btn btn-sm hate" id="hate" (click)='downvote()'>{{quoted.dislikes}}<i class="far fa-thumbs-down" ></i> </button> 
  <button class="btn btn-sm btn-danger" id="del" (click)='deleteQuote(true)'><i class="fa fa-trash" aria-hidden="true"></i>
  </button> 
</div>