<h6 class="card-subtitle mb-2 text-muted"> - {{quoted.author}} <span id="when">Posted: {{quoted.datePosted|dateCount}} days ago.</span> </h6>
<div class="container-fluid" id="buttons">
  <button class="btn btn-sm btn-success" (click)='upvote()'>{{quoted.likes}}  <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon></button> 
  <button class="btn btn-sm hate" id="hate" (click)='downvote()'>{{quoted.dislikes}} <fa-icon [icon]="['fas', 'thumbs-down']"></fa-icon></button> 
  <button class="btn btn-sm btn-danger" id="del" (click)='deleteQuote(true)'><fa-icon [icon]="['fas', 'trash']"></fa-icon></button> 
</div>